
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <title>Baby Shower</title>
    <style>
    </style>
</head>
<body>
  
<div class="cont">    
    <div class="text-center transbox">
    
            <h2>You are invited to a</h2>
            <h1>Baby shower</h1>
        <h3>honoring</h3>
        <h2>Rebecca Holden</h2>
        <p>sat, september 5th at 1pm daisy bakery & cafe 1234 foxtail road, San Diego</p>
        <div class="btn btn-secondary">
            @Html.ActionLink("Send response", "RsvpForm")
        </div>
    </div>
    </div>
   
</body>
</html>
